@{
    ViewBag.Title = "Queue Browser";
}

<div class="container-fluid" ng-controller="queueBrowserController">
  <ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">Queue Browser</li>
  </ul>

  <div class="row">
    <div class="col-md-12">

      <!-- Grid -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-tasks panel-icon" aria-hidden="true"></span> Queue Browser
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default" title="Show Filter" 
                    data-toggle="button" 
                    aria-pressed="false" 
                    autocomplete="off"
                    ng-click="vm.toggleFilter()">
              <i class="glyphicon glyphicon-filter"></i>
            </button>
            <button type="button" class="btn btn-default" title="Refresh Grid"
                    ng-click="vm.reload()">
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </div>
          <div class="input-group input-group-sm col-sm-2 pull-right" style="width: 130px">
            <select class="form-control no-style" title="Select Queue"
                    ng-change="vm.reload();"
                    ng-model="vm.queue"
                    ng-options="item as item.Name for item in vm.queues track by item.Value"></select>
          </div>
          <div id="queueStatus" class="pull-right" style="margin-top: -5px">
            <div class="metric-status" ng-show="vm.status.Queued > 0" title="Number of messages in Queued state">
              Queued <span class="metric metric-default" ng-bind="vm.status.Queued | number:0">0</span>
            </div>

            <div class="metric-status" ng-show="vm.status.Processing" title="Number of messages in Processing state">
              Processing <span class="metric metric-info" ng-bind="vm.status.Processing | number:0">0</span>
            </div>
            <div class="metric-status" ng-show="vm.status.Complete" title="Number of messages in Complete state">
              Complete <span class="metric metric-success" ng-bind="vm.status.Complete | number:0">0</span>
            </div>
            <div class="metric-status" ng-show="vm.status.Timeout" title="Number of messages in Timeout state">
              Timeout <span class="metric metric-danger" ng-bind="vm.status.Timeout | number:0">0</span>
            </div>
            <div class="metric-status" ng-show="vm.status.Scheduled" title="Number of messages in Scheduled state">
              Scheduled <span class="metric metric-warning" ng-bind="vm.status.Scheduled | number:0">0</span>
            </div>

            <div class="metric-status" ng-show="vm.status.Successful" title="Number of messages with result of Successful">
              Successful <span class="metric metric-success highlighted" ng-bind="vm.status.Successful | number:0">0</span>
            </div>
            <div class="metric-status" ng-show="vm.status.Warning" title="Number of messages with result of Warning">
              Warning <span class="metric metric-warning highlighted" ng-bind="vm.status.Warning | number:0">0</span>
            </div>
            <div class="metric-status" ng-show="vm.status.Error" title="Number of messages with result of Error">
              Error <span class="metric metric-danger highlighted" ng-bind="vm.status.Error | number:0">0</span>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="min-height: 445px">
          <table class="table table-bordered table-hover table-striped" style="table-layout: fixed">
            <colgroup>
              <col style="width: 30px" />
              <col style="width: 400px" />
              <col style="width: 110px" />
              <col style="width: 110px" />
              <col style="width: 500px" />
              <col style="width: 150px" />
              <col style="width: 100px" />
              <col style="width: 100px" />
              <col style="width: 100px" />
            </colgroup>
            <thead>
              <tr>
                <th style="text-align:center;"><input type="checkbox" ng-model="vm.checkAll" ng-change="vm.selectAll()" title="Select All" /></th>
                <th>Description</th>
                <th>
                  <a ng-click="vm.sortClick('State')"
                     style="display: block;">
                    State
                    <span class="ng-hide dropdown"
                          ng-show="vm.messages.Sort == 'State'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.messages.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
                <th>
                  <a ng-click="vm.sortClick('Result')"
                     style="display: block;">
                    Result
                    <span class="ng-hide dropdown"
                          ng-show="vm.messages.Sort == 'Result'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.messages.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
                <th>Status</th>
                <th>
                  <a ng-click="vm.sortClick('Updated')"
                     style="display: block;">
                    Updated
                    <span class="ng-hide dropdown"
                          ng-show="vm.messages.Sort == 'Updated'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.messages.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
                <th>Start</th>
                <th>End</th>
                <th>Expire</th>
              </tr>
            </thead>
            <tbody ng-show="vm.showFilter">
              <tr class="edit-row">
                <td></td>
                <td>
                  <input class="form-control" type="text" 
                         ng-model="vm.descriptionFilter" 
                         ng-blur="vm.reload()" />
                </td>
                <td>
                  <select class="form-control" 
                          ng-model="vm.stateFilter" 
                          ng-change="vm.reload()">
                    <option value=""></option>
                    <option value="None">None</option>
                    <option value="Queued">Queued</option>
                    <option value="Processing">Processing</option>
                    <option value="Complete">Complete</option>
                    <option value="Timeout">Timeout</option>
                    <option value="Scheduled">Scheduled</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" 
                          ng-model="vm.resultFilter" 
                          ng-change="vm.reload()">
                    <option value=""></option>
                    <option value="None">None</option>
                    <option value="Successful">Successful</option>
                    <option value="Warning">Warning</option>
                    <option value="Error">Error</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" type="text" 
                         ng-model="vm.statusFilter" 
                         ng-blur="vm.reload()" />
                </td>
                <td>
                  <input class="form-control" type="date" 
                         ng-model="vm.updateFilter" 
                         ng-blur="vm.reload()" />
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>

            <tbody>
              <tr ng-repeat="message in vm.messages.Data">
                <td style="text-align:center;"><input type="checkbox" ng-model="message.Selected" /></td>
                <td class="nowrap"><span title="{{message.Description}}">{{message.Description}}</span></td>
                <td>{{message.State}}</td>
                <td>{{message.Result}}</td>
                <td class="nowrap"><span title="{{message.Status}}">{{message.Status}}</span></td>
                <td><span title="{{message.Updated | date:'fullDate'}}">{{message.Updated | date:'MM/dd/yyyy'}}</span></td>
                <td>{{message.StartTime | date:'shortTime'}}</td>
                <td>{{message.EndTime | date:'shortTime'}}</td>
                <td><span title="{{message.Expire | date:'fullDate'}}">{{message.Expire | date:'MM/dd/yyyy'}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer form-inline">
          <div class="row">
            <div class="col-lg-4">
              <div class="btn-group btn-group-sm">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Bulk Action <span class="caret"></span></button>
                <ul class="dropdown-menu pull-left">
                  <li><a ng-click="vm.requeueSelected()">Requeue Selected Messages</a></li>
                  <li><a ng-click="vm.deleteSelected()">Delete Selected Messages</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="center-block text-center">
                <span>Showing {{vm.messages.Total == 0 ? 0 : ((vm.messages.Page * vm.messages.PageSize) - vm.messages.PageSize) + 1}} to {{vm.messages.Page * vm.messages.PageSize > vm.messages.Total ? vm.messages.Total : vm.messages.Page * vm.messages.PageSize}} of {{vm.messages.Total}} rows.</span>
                <span style="margin-left: 10px">
                  <select class="form-control" style="width: 70px;"
                          ng-model="vm.messages.PageSize"
                          ng-options="option as option for option in [10, 20, 50]"
                          ng-change="vm.reload()"></select>
                  records per page
                </span>
              </div>
            </div>
            <div class="col-lg-4">
              <uib-pagination ng-model="vm.messages.Page"
                              total-items="vm.messages.Total"
                              items-per-page="vm.messages.PageSize"
                              max-size="5"
                              class="pagination nomargin pull-right"
                              boundary-link-numbers="true"
                              rotate="true"
                              previous-text="&lsaquo;"
                              next-text="&rsaquo;"
                              first-text="&laquo;"
                              last-text="&raquo;"
                              ng-change="vm.reload()">
              </uib-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@section scripts {
  <script type="text/javascript">
    $(document).ready(function () {
      var current = $('#queue-menu');
      if (current) {
        current.parent('li').addClass('active');
      }
    });
  </script>
}
