@{
    ViewBag.Title = "Home";
}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>MongoDB Messaging Samples</h2>
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Messaging</h3>
        </div>
        <div class="panel-body">
          <p>Messaging is a common framework for running async background work.</p>
          <ul>
            <li><a href="@Url.Action("Index", "Queue")">Queue Browser</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Logging</h3>
        </div>
        <div class="panel-body">
          <p>Logging is a common location for view logs.</p>
          <ul>
            <li><a href="@Url.Action("Index", "Logging")">View Logs</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


@section scripts {
  <script type="text/javascript">
    $(document).ready(function () {
      var current = $('#home-menu');
      if (current) {
        current.parent('li').addClass('active');
      }
    });
  </script>
}