@{
    ViewBag.Title = "Logging";
}

<div class="container-fluid" ng-controller="loggingController">
  <ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">Logging</li>
  </ul>

  <div class="row">
    <div class="col-md-12">

      <!-- Grid -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list panel-icon" aria-hidden="true"></span> Logs
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default" title="Show Filter"
                    data-toggle="button"
                    aria-pressed="false"
                    autocomplete="off"
                    ng-click="vm.toggleFilter()">
              <i class="glyphicon glyphicon-filter"></i>
            </button>
            <button type="button" class="btn btn-default" title="Refresh Grid"
                    ng-click="vm.reload()">
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </div>
        </div>
        <div class="table-responsive" style="min-height: 445px">
          <table class="table table-bordered" style="table-layout: fixed">
            <colgroup>
              <col style="width: 30px" />
              <col style="width: 30px" />
              <col style="width: 120px" />
              <col style="width: 280px" />
              <col style="width: 90px" />
              <col style="width: 500px" />
              <col style="width: 200px" />
            </colgroup>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <a ng-click="vm.sortClick('Source')"
                     style="display: block;">
                    Source
                    <span class="ng-hide dropdown"
                          ng-show="vm.logs.Sort == 'Source'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.logs.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
                <th>
                  <a ng-click="vm.sortClick('Logger')"
                     style="display: block;">
                    Logger
                    <span class="ng-hide dropdown"
                          ng-show="vm.logs.Sort == 'Logger'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.logs.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
                <th>
                  <a ng-click="vm.sortClick('Level')"
                     style="display: block;">
                    Level
                    <span class="ng-hide dropdown"
                          ng-show="vm.logs.Sort == 'Level'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.logs.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
                <th>Message</th>
                <th>
                  <a ng-click="vm.sortClick('Date')"
                     style="display: block;">
                    Date
                    <span class="ng-hide dropdown"
                          ng-show="vm.logs.Sort == 'Date'"
                          ng-class="{true:'dropdown', false:'dropup'}[vm.logs.Descending]">
                      <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody ng-show="vm.showFilter">
              <tr class="edit-row">
                <td></td>
                <td></td>
                <td>
                  <input class="form-control" type="text" ng-model="vm.sourceFilter" ng-blur="vm.reload()" />
                </td>
                <td>
                  <input class="form-control" type="text" ng-model="vm.loggerFilter" ng-blur="vm.reload()" />
                </td>
                <td>
                  <select class="form-control" ng-model="vm.levelFilter" ng-change="vm.reload()">
                    <option value=""></option>
                    <option value="Trace">Trace</option>
                    <option value="Debug">Debug</option>
                    <option value="Info">Info</option>
                    <option value="Warn">Warn</option>
                    <option value="Error">Error</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" type="text" ng-model="vm.messageFilter" ng-blur="vm.reload()" />
                </td>
                <td>
                  <input class="form-control" type="date" ng-model="vm.dateFilter" ng-blur="vm.reload()" />
                </td>
              </tr>
            </tbody>
            <tbody ng-repeat="log in vm.logs.Data">
              <tr>
                <td style="text-align:center;">
                  <a ng-click="vm.expand(log)" style="cursor: pointer;">
                    <i ng-show="!log.Expanded" class="glyphicon glyphicon-triangle-right glyphicon-resize-small"></i>
                    <i ng-show="log.Expanded" class="glyphicon glyphicon-triangle-bottom glyphicon-resize-small"></i>
                  </a>
                </td>
                <td style="text-align:center;">
                  <div class="Alert {{log.Level}}" title="{{log.Level}}" />
                </td>
                <td class="nowrap"><span title="{{log.Source}}">{{log.Source}}</span></td>
                <td class="nowrap"><span title="{{log.Logger}}">{{log.Logger}}</span></td>
                <td>{{log.Level}}</td>
                <td class="nowrap"><span title="{{log.Message}}">{{log.Message}}</span></td>
                <td><span title="{{log.Date | date:'fullDate'}}">{{log.Date | date:'MM/dd/yyyy'}}</span></td>
              </tr>
              <tr ng-show="log.Expanded" style="background-color: #f9f9f9;">
                <td colspan="7">
                  <div class="tab-container">
                    <div role="tabpanel">
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#properties-{{log.Id}}" aria-controls="properties{{log.Id}}" role="tab" data-toggle="tab">Properties</a></li>
                        <li role="presentation" ng-if="log.Exception"><a href="#error-{{log.Id}}" aria-controls="error-{{log.Id}}" role="tab" data-toggle="tab">Error</a></li>
                      </ul>
                    </div>
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="properties-{{log.Id}}">
                        <table class="table table-bordered table-condensed table-striped table-property">
                          <colgroup>
                            <col style="width: 200px" />
                            <col style="" />
                          </colgroup>
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Value</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="(key, prop) in log.Properties track by key">
                              <th>{{key}}</th>
                              <td>{{log.Properties[key]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="error-{{log.Id}}" ng-if="log.Exception">
                        <table class="table table-bordered table-condensed table-striped">
                          <colgroup>
                            <col style="width: 250px" />
                            <col style="width: 100px" />
                            <col style="width: 120px" />
                            <col style="width: 120px" />
                            <col style="width: 120px" />
                            <col style="" />
                          </colgroup>
                          <thead>
                            <tr>
                              <th>Type</th>
                              <th>Error Code</th>
                              <th>Method Name</th>
                              <th>Module Name</th>
                              <th>Module Version</th>
                              <th>Message</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{log.Exception.Type}}</td>
                              <td>{{log.Exception.ErrorCode}}</td>
                              <td>{{log.Exception.MethodName}}</td>
                              <td>{{log.Exception.ModuleName}}</td>
                              <td>{{log.Exception.ModuleVersion}}</td>
                              <td>{{log.Exception.Message}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <pre style="overflow: auto; max-height: 400px; font-family: Courier New">{{log.Exception.Text}}</pre>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer form-inline">
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <div class="center-block text-center">
                <span>Showing {{vm.logs.Total == 0 ? 0 : ((vm.logs.Page * vm.logs.PageSize) - vm.logs.PageSize) + 1}} to {{vm.logs.Page * vm.logs.PageSize > vm.logs.Total ? vm.logs.Total : vm.logs.Page * vm.logs.PageSize}} of {{vm.logs.Total}} rows.</span>
                <span style="margin-left: 10px">
                  <select class="form-control" style="width: 70px;"
                          ng-model="vm.logs.PageSize"
                          ng-options="option as option for option in [10, 20, 50]"
                          ng-change="vm.reload()"></select>
                  records per page
                </span>
              </div>
            </div>
            <div class="col-lg-4">
              <uib-pagination ng-model="vm.logs.Page"
                              total-items="vm.logs.Total"
                              items-per-page="vm.logs.PageSize"
                              max-size="5"
                              class="pagination nomargin pull-right"
                              boundary-link-numbers="true"
                              rotate="true"
                              previous-text="&lsaquo;"
                              next-text="&rsaquo;"
                              first-text="&laquo;"
                              last-text="&raquo;"
                              ng-change="vm.reload()">
              </uib-pagination>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  <script type="text/javascript">
    $(document).ready(function () {
      var current = $('#logging-menu');
      if (current) {
        current.parent('li').addClass('active');
      }
    });
  </script>
}