/* alert icon sprites */
.Alert {
    background-image: url('images/alert.png');
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;
    vertical-align: text-top;
    margin-right: 3px;
}

.Error, .Fatal {
    background-position: 0px -64px;
}
.Help {
    background-position: 0px -48px;
}

.Info, .Debug, .Trace {
    background-position: 0px -32px;
}

.Success {
    background-position: 0px -16px;
}

.Warn {
    background-position: 0px 0px;
}
