div.metric-status {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

span.metric {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px;
    -webkit-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -moz-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -ms-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -o-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
}

    span.metric.highlighted {
        font-weight: bold;
        color: #fff !important;
    }

span.metric-default {
    color: #777;
    border-color: #777;
}

    span.metric-default.highlighted {
        background-color: #777;
    }

div.metric {
    border: solid 1px transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
}

    div.metric .metric-body {
        padding: 15px 15px 0;
        font-size: 26px;
        text-align: center;
    }

    div.metric .metric-description {
        padding: 0 15px 15px;
        text-align: center;
    }

    div.metric.metric-default {
        border-color: #ddd;
    }

div.metric-info,
span.metric-info {
    color: #31b0d5;
    border-color: #31b0d5;
}

    span.metric-info.highlighted {
        background-color: #31b0d5;
    }

div.metric-warning,
span.metric-warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

    span.metric-warning.highlighted {
        background-color: #f0ad4e;
    }

div.metric-success,
span.metric-success {
    color: #5cb85c;
    border-color: #5cb85c;
}

    span.metric-success.highlighted {
        background-color: #5cb85c;
    }

div.metric-danger,
span.metric-danger {
    color: #d9534f;
    border-color: #d9534f;
}

    span.metric-danger.highlighted {
        background-color: #d9534f;
    }

span.metric-null,
div.metric-null {
    display: none;
}
