body {
  padding-top: 60px;
}


footer, #footer {
  color: #999;
  text-align: center;
  line-height: normal;
  margin: 0 0 1em 0;
  font-size: .9em;
}

#section-main {
  min-height: 300px;
}

.carousel, .nav, .pagination, .panel-title a {
  cursor: pointer;
}


.tab-container .tab-content {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
}

.nav-tabs {
  border-color: #d5d5d5;
}

.nopadding {
  padding: 0 !important;
}
.nomargin {
  margin: 0 !important;
}

.panel-heading > .btn-group,
.panel-heading > .input-group,
.panel-heading > .filter-group {
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 10px;
}

.panel-heading > .fa,
.panel-icon {
  margin-right: 5px;
}

/* prevent wrap */
.nowrap {
  -ms-text-overflow: ellipsis !important;
  -o-text-overflow: ellipsis !important;
  -moz-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

select.no-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  -moz-text-overflow: '';
  text-overflow: '';
  padding-right: 12px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIgln7UqAAAADHRSTlMAWYsN8/rWqkAwIxUw2c66AAAAJ0lEQVQI12MgEQgKChqAGTpnjkEY7GciIVJcPgpQRSoGUMYOBlIBAHo+BQDbgp9PAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: right;
}

select::-ms-expand {
  width: 12px;
  border: none;
  background: #fff;
  display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.panel-footer > .pagination {
  margin: 0;
}

.table-property > tbody > tr > th {
  background-color: #f9f9f9;
  text-align: right;
}

.table > thead > tr > th > a,
.table > thead > tr > th > a:link,
.table > thead > tr > th > a:visited,
.table > thead > tr > th > a:hover {
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.edit-row > td {
  padding: 0 !important;
  vertical-align: middle;
}

.edit-row .form-control {
  padding-right: 6px;
  padding-left: 6px;
  border-color: transparent;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

  .edit-row .form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
  }

.edit-row .form-control-static {
  padding: 6px 12px;
}
