<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentLogger" version="3.0.0.30" targetFramework="net45" developmentDependency="true" />
  <package id="MongoDB.Bson" version="2.4.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.4.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.4.1" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
</packages>